main{
    background-color: #F3F5F5;
}

.about_us{
    padding: calc(29.5px + 29.5 * (100vw / 1600)) 0 calc(62.5px + 62.5 * (100vw / 1600)) 0;
}

.about_us_h1{
    font-size: calc(29px + 10 * (100vw / 1600));
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color:#273133;
    margin-bottom:  calc(26px + 26 * (100vw / 1600));
}

.about_us_desc_wrapper{
    padding: calc(15.5px + 15.5 * (100vw / 1600)) calc(15.5px + 161.5 * (100vw / 1600)) calc(3.5px + 32.5 * (100vw / 1600)) calc(15.5px + 15.5 * (100vw / 1600));
    background-color: #FFF;

    border-radius: 7px;
}

.about_us_p{
    font-size: calc(14px + 2 * (100vw / 1600));
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
}
