main{
    background-color: #F3F5F5;
}

.non_prescription{
    padding: calc(35px + 35 * (100vw / 1600)) 0 calc(29.5px + 29.5 * (100vw / 1600)) 0;
}

.non_prescription_h1{
    font-size: calc(29px + 10 * (100vw / 1600));
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #273133;
    margin-bottom: 52px;
}
.non_prescription_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    --gap: 30px;
    --elems: 4;
    gap: var(--gap);
    margin-bottom: 57px;
}

.non_prescription_aside{
    display: flex; /* Добавьте это свойство */
    flex-direction: column; /* Добавьте это свойство */
    justify-content: space-between; /* Добавьте это свойство */
    width: calc((100% - (var(--elems) - 1) * var(--gap)) / var(--elems));
    padding: 35.59px 20px 10px 20px;
    border-radius: 7px;
    background: #fff;
}
.med_img_wrapper{
    text-align: center;
}
.non_prescription_aside img{
    max-width: 172px;
    margin-bottom: 35.61px;
    height: 156px;
}
.non_prescription_h6{
    font-size: calc(10px + 2 * (100vw / 1600));
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #8EA0A3;
    margin-bottom: 3.5px;
}
.non_prescription_p{
    flex-grow: 1; /* Добавьте это свойство */
    font-size: calc(12px + 2 * (100vw / 1600));
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    color: #36B389;
    margin-bottom: 10px;
}
.non_prescription_h5{
    font-size: calc(14px + 2 * (100vw / 1600));
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #273133;
}
.btn_wrapper{
    text-align: center;
}
.show_more_btn{
    width: 200px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #36B389;
    color: #fff;
    font-size: calc(18px + 2 * (100vw / 1600));
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}
.rest_desc_wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.rest_desc_wrapper.expanded {
    height: auto;
}

.show_more_btn:hover{
    background-color: rgb(43, 143, 109)
}

.show_more_btn:hover{
    
}

@media (max-width: 1230px){
    .non_prescription_section{

        --elems: 3
    }
}

@media (max-width: 960px){
    .non_prescription_section{

        --elems: 2
    }

    .non_prescription_aside{
        text-align: center;
    }
}


@media (max-width: 660px){
    .non_prescription_section{
        --elems: 1
    }
    .show_more_btn{
        width: 100%;
    }
}