<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css'%}">

</head>
<body>
    <div class="modal_window_request_a_call">
        <section class="request_a_call_section">
            <div class="call_me_back_and_close">
                <h4 class="call_me_back_h4">Перезвоните мне</h4>

                <button class="close_btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" enable-background="new 0 0 20 20"><path class="st0" d="M20 18.5l-1.5 1.5-8.5-8.5-8.5 8.5-1.5-1.5 8.5-8.5-8.5-8.5 1.5-1.5 8.5 8.5 8.5-8.5 1.5 1.5-8.5 8.5 8.5 8.5z"/></svg></button>
            </div>

            <form method="post" action="/callback_request/" class="request_a_call_form">
                {% csrf_token %}
                <input type="text" placeholder="Имя" name="name" class="name_inp" required>
                <input type="tel" placeholder="Телефон" name="phone" class="tel_inp" required>

                <label class="request_a_call_now">
                    <input type="radio" class="real_radio" name="call_now" value="Сейчас">
                    <span class="custom_radio"></span>
                    Сейчас
                </label>

                <label class="request_a_call_exact_time">
                    <input type="radio" class="real_radio" name="call_now" value="Точное время">
                    <span class="custom_radio"></span>
                    Точное время
                </label>

                <div class="time_select_wrapper">
                    <select class="time_select" name="call_time">
                        <option value="">Выберите время...</option>
                        <option value="10-12">с 10:00 до 12:00</option>
                        <option value="12-14">с 12:00 до 14:00</option>
                        <option value="14-16">с 14:00 до 16:00</option>
                        <option value="16-18">с 16:00 до 18:00</option>
                    </select>
                </div>

                <input type="submit" value="Жду звонка" class="request_a_call_btn">
            </form>
            
            <div class="checkbox_wrapper" style="clear:both;">
              <label class="warning_label">
                  <input type="checkbox" class="real_checkbox">
                  <span class="custom_checkbox"></span>
                  Передавая информацию сайту вы принимаете условия
                  <a href="#">политики защиты персональной информации</a>
              </label>
            </div>
        </section>
    </div>

    <header class="header">
        <div class="container">
            <div class="header_top">
                <div class="schedule">
                    <img src="{% static 'img/time.svg' %}" alt="time" class="time_icon ">

                    <span class="schedule_info">График работы 08:00-19:00</span>
                </div>

                <div class="phonenumber_request_a_call">
                    <a href="tel:+78632106363">
                        <img src="{% static 'img/phone.svg' %}" alt="phone" class="phone_icon icon">
                    </a>

                    <div class="call_or_request">
                        <a href="tel:+78632106363" class="phonenumber_link">8 863 210-63-63</a>
                        <span class="request_a_call">Заказать звонок</span>
                    </div>
                </div>

                <div class="location">
                    <a href="" target="_blank">
                        <img src="{% static 'img/location.svg' %}" alt="location" class="location_icon icon">
                    </a>

                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank" class="location_link">г.Ростов-на-Дону ул.Обсерваторная 38</a>
                </div>
            </div>

            <div class="separator"></div>


            <div class="header_middle">
                <a href="{% url 'index' %}"><img src="{% static 'img/LOGO1.svg' %}" alt="logo" class="logo"></a>

                <form action="{% url 'general_search' %}" method="get" class="search_form">
                    <div class="search_inp_and_btn">
                        <div class="input_wrapper">
                            <input type="search" name="search" class="search_inp" placeholder="Поиск лекарств" required>
                            <img src="{% static 'img/search_.svg' %}" alt="search" class="search_icon">
                            </button>
                        </div>

                        <input type="submit" value="Найти" class="search_btn">
                    </div>
                </form>
            </div>
        </div>

        <div class="header_bottom">
            <div class="container">
                <nav class="header_bottom_menu_wrapper">
                    <menu class="header_bottom_menu">
                        <li><a href="{% url 'about' %}" class="menu_link">о нас</a></li>
                        <li><a href="{% url 'contact' %}" class="menu_link">контакты</a></li>
                        <li><a href="{% url 'catalog' %}" class="menu_link">каталог</a></li>
                        <li><a href="{% url 'howtoorder' %}" class="menu_link">как оформить заказ</a></li>
                        <li><a href="{% url 'documents' %}" class="menu_link">документы</a></li>
                        <li><a href="{% url 'faq' %}" class="menu_link faq_link">вопросы и ответы</a></li>

                        <div class="mobile_menu_separator"></div>

                        <li class="menu_link_mobile_li schedule_info  menu_link_mobile_info">График работы 08:00-19:00</li>
                        <li class="menu_link_mobile_li"><a href="tel:+78632106363" class="phonenumber_link menu_link_mobile_info">8 863 210-63-63</a></li>
                        <li class="menu_link_mobile_li request_a_call request_a_call_mobile">Заказать звонок</li>
                        <li class="menu_link_mobile_li"><a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank" class="location_link menu_link_mobile_info">г.Ростов-на-Дону ул.Обсерваторная 38</a></li>
                    </menu>
                </nav>

                
                <button class="burger">
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="about_us">
            <div class="container">
                <h1 class="about_us_h1">О нас</h1>
             
                <div class="about_us_desc_wrapper">
                    <p class="about_us_p">Аптека ООО «Лекаръ» открылась в октябре 2012 года. <br><br>
                        
                        Мы — команда профессионалов, которая заботится о вашем здоровье и благополучии. Вот что вы должны знать о нас:<br><br>
                        <span style="font-weight:bold">Наша миссия:</span> Мы стремимся обеспечить доступ к качественным медицинским препаратам и товаром для здоровья. Наша цель — помочь вам чувствовать себя лучше и поддерживать ваше здоровье.<br><br>
                        <span style="font-weight:bold">Опыт и профессионализм:</span> С нашим 10-летним опытом в сфере фармацевтики, мы гордимся своими знаниями и навыками. Наши фармацевты и специалисты всегда готовы помочь вам с выбором лекарств и ответить на ваши вопросы.<br><br>
                        <span style="font-weight:bold">Широкий ассортимент:</span> В нашем каталоге вы найдете широкий выбор лекарств, витаминов, медицинских товаров и косметики. Мы тщательно отбираем продукты, чтобы предложить вам только лучшее.<br><br>
                        <span style="font-weight:bold">Качество и безопасность:</span> Мы работаем только с проверенными поставщиками и следим за качеством каждого товара. Ваше здоровье — наш приоритет.<br><br>
                        <span style="font-weight:bold">Социальная ответственность:</span> Мы поддерживаем благотворительные программы и инициативы, чтобы помогать тем, кто в нужде. Вместе мы делаем мир здоровее.<br><br>
                        
                        У нас вы найдете все - от аспирина до новейших технологических средств, узнаете о наличии того или иного препарата, его стоимости, возможности
                        предзаказа. Выгодные акции и спецпредложения помогут, экономя ваш семейный бюджет заботиться о вашем здоровье и здоровье ваших близких.
                         </p>
                        
                </div>
            </div>
        </div>
    </main>


 <footer>
        <div class="container footer_container">
            <menu>
                <h4>ЦЕНТРАЛЬНЫЙ ОФИС И <br> CКЛАД:</h4>

                <div class="location_footer">
                    <a href="" target="_blank" class="img_link">
                        <img src="{% static 'img/location.svg' %}" alt="location" class="location_icon icon">
                    </a>

                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank">г.Ростов-на-Дону <br> ул.Обсерваторная 38</a>
                </div>

                <div class="phonenumber_footer">
                    <a href="tel:+78632106363" class="img_link">
                        <img src="{% static 'img/phone.svg' %}" alt="phone" class="phone_icon icon">
                    </a>

                    <a href="tel:+78632106363">8 863 210-63-63</a>
                </div>

                <div>
                    <a href="mailto:lekarpharm@yandex.ru" class="img_link">
                        <img src="{% static 'img/mail.svg' %}" alt="mail" class="mail icon">
                    </a>

                    <a href="mailto:lekarpharm@yandex.ru">lekarpharm@yandex.ru</a>
                </div>
            </menu>

            <menu>
                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                <li><a href="{% url 'howtoorder' %}">Как оформить заказ?</a></li>
                <li><a href="{% url 'faq' %}">Вопросы и ответы</a></li>
                <li><a href="{% url 'documents' %}">Документы</a></li>
                <li><a href="#">Политика обработки <br> персональных данных</a></li>
            </menu>

            <menu>
                <li><a href="{% url 'about' %}">О компании</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                <li><a href="{% url 'quality' %}">О качестве</a></li>
                <li><a href="{% url 'keeping' %}">О хранении</a></li>
                <li><a href="{% url 'transport' %}">О перевозках</a></li>
                <li><a href="{% url 'partners' %}">О партнерстве</a></li>
            </menu>
        </div>
    </footer>

    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>