<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопросы и ответы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="modal_window_request_a_call">
        <section class="request_a_call_section">
            <div class="call_me_back_and_close">
                <h4 class="call_me_back_h4">Перезвоните мне</h4>

                <button class="close_btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" enable-background="new 0 0 20 20"><path class="st0" d="M20 18.5l-1.5 1.5-8.5-8.5-8.5 8.5-1.5-1.5 8.5-8.5-8.5-8.5 1.5-1.5 8.5 8.5 8.5-8.5 1.5 1.5-8.5 8.5 8.5 8.5z"/></svg></button>
            </div>

              <form method="post" action="/callback_request/" class="request_a_call_form" id="callbackForm">
    {% csrf_token %}
    <input type="text" placeholder="Имя" name="name" class="name_inp" required>
    <input type="tel" placeholder="Телефон" name="phone" class="tel_inp" required>

    <label class="request_a_call_now">
        <input type="radio" class="real_radio" name="call_now" value="Сейчас">
        <span class="custom_radio"></span>
        Сейчас
    </label>

    <label class="request_a_call_exact_time">
        <input type="radio" class="real_radio" name="call_now" value="Точное время">
        <span class="custom_radio"></span>
        Точное время
    </label>

    <div class="time_select_wrapper">
        <select class="time_select" name="call_time">
            <option value="">Выберите время...</option>
            <option value="10-12">с 10:00 до 12:00</option>
            <option value="12-14">с 12:00 до 14:00</option>
            <option value="14-16">с 14:00 до 16:00</option>
            <option value="16-18">с 16:00 до 18:00</option>
        </select>
    </div>

    <input type="submit" value="Жду звонка" class="request_a_call_btn">
</form>

<div class="checkbox_wrapper" style="clear:both;">
    <label class="warning_label">
        <input type="checkbox" class="real_checkbox" id="privacyPolicyCheckbox" required>
        <span class="custom_checkbox"></span>
        Передавая информацию сайту вы принимаете условия
        <a href="{% url 'privacypolicy' %}">политики защиты персональной информации</a>
    </label>
</div>
        </section>
    </div>

    <header class="header">
        <div class="container">
            <div class="header_top">
                <div class="schedule">
                    <img src="{% static 'img/time.svg' %}" alt="time" class="time_icon ">

                    <span class="schedule_info">График работы 07:00-18:00</span>
                </div>

                <div class="phonenumber_request_a_call">
                    <a href="tel:+79289996699">
                        <img src="{% static 'img/phone.svg' %}" alt="phone" class="phone_icon icon">
                    </a>

                    <div class="call_or_request">
                        <a href="tel:+79289996699" class="phonenumber_link">8 928 999-66-99</a>
                        <span class="request_a_call">Заказать звонок</span>
                    </div>
                </div>

                <div class="location">
                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank">
                        <img src="{% static 'img/location.svg' %}" alt="location" class="location_icon icon">
                    </a>

                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank" class="location_link">г.Ростов-на-Дону ул.Обсерваторная 38</a>
                </div>
            </div>

            <div class="separator"></div>


            <div class="header_middle">
                <a href="{% url 'index' %}"><img src="{% static 'img/LOGO1.svg' %}" alt="logo" class="logo"></a>

                <form action="{% url 'general_search' %}" method="get" class="search_form">
                    <div class="search_inp_and_btn">
                        <div class="input_wrapper">
                            <input type="search" name="search" class="search_inp" placeholder="Поиск лекарств" required>
                            <img src="{% static 'img/search_.svg' %}" alt="search" class="search_icon">
                            </button>
                        </div>

                        <input type="submit" value="Найти" class="search_btn">
                    </div>
                </form>
            </div>
        </div>

        <div class="header_bottom">
            <div class="container">
                <nav class="header_bottom_menu_wrapper">
                    <menu class="header_bottom_menu">
                        <li><a href="{% url 'about' %}" class="menu_link">о нас</a></li>
                        <li><a href="{% url 'contact' %}" class="menu_link">контакты</a></li>
                        <li><a href="{% url 'catalog' %}" class="menu_link">каталог</a></li>
                        <li><a href="{% url 'howtoorder' %}" class="menu_link">как оформить заказ</a></li>
                        <li><a href="{% url 'documents' %}" class="menu_link">документы</a></li>
                        <li><a href="{% url 'faq' %}" class="menu_link faq_link">вопросы и ответы</a></li>

                        <div class="mobile_menu_separator"></div>

                        <li class="menu_link_mobile_li schedule_info  menu_link_mobile_info">График работы 07:00-18:00</li>
                        <li class="menu_link_mobile_li"><a href="tel:+79289996699" class="phonenumber_link menu_link_mobile_info">8 928 999-66-99</a></li>
                        <li class="menu_link_mobile_li request_a_call request_a_call_mobile">Заказать звонок</li>
                        <li class="menu_link_mobile_li"><a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank" class="location_link menu_link_mobile_info">г.Ростов-на-Дону ул.Обсерваторная 38</a></li>
                    </menu>
                </nav>


                <button class="burger">
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="faq">
            <div class="container">
                <h1 class="faq_h1">Ответы на часто задаваемые вопросы</h1>

                <section class="faq_section">
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Как часто обновляется каталог товаров на сайте?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer"> Каталог товаров 2 раза в день, поэтому Вы получаете актуальную информацию о товарах, также Вы можете оставить заявку на обратную связь чтобы убедиться в наличии необходимого товара.</p>
                        </article>
                    </div>

                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Могу ли я получить консультацию фармацевта ?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">Да, Вы можете получить консультацию фармацевта. Для этого позвоните по <a href="tel:+79289996699">контактному номеру</a> или оставьте заявку на обратную связь. </p>
                        </article>
                    </div>
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Какие способы оплаты принимаются в аптеке?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">В нашей аптеке принимаются следующие способы оплаты: Наличные, Банковская карта, СБП, Безналичный рассчет для ИП и ЮРлиц.</p>
                        </article>
                    </div>
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Какие документы необходимы для получения лекарств по рецепту?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">Для получения лекарств по рецепту необходимо предъявить сам рецепт и паспорт.</p>
                        </article>
                    </div>
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Что делать, если я не могу найти продукт, который ищу?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">Если вы не можете найти продукт, который ищете, попробуйте использовать функцию поиска на нашем сайте. Если продукт все еще не найден, рекомендуем оставить заявку обратной связи для получения дополнительной информации.</p>
                        </article>
                    </div>
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Какие меры предпринимаются для сохранения лекарственных препаратов?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">Мы храним лекарства в соответствии с рекомендациями производителей и соблюдаем необходимые условия температуры и влажности.</p>
                        </article>
                    </div>
                    <div class="faq_question">
                        <aside class="faq_question_aside">
                            <h4 class="question_h4">Что делать, если у меня есть вопросы, которые не отвечены на вашем сайте?</h4>

                            <img src="{% static 'img/arrow_down.svg' %}" alt="arrow_down" class="arrow_down">
                        </aside>

                        <article class="faq_article">
                            <p class="faq_answer">Если у вас есть вопросы, которые не отвечены на нашем сайте, пожалуйста, оставьте заявку на обратную связь, и мы постараемся помочь вам.</p>
                        </article>
                    </div>
                </section>
            </div>
        </div>

        
    </main>

 <footer>
        <div class="container footer_container">
            <menu>
                <h4>ЦЕНТРАЛЬНЫЙ ОФИС И <br> CКЛАД:</h4>

                <div class="location_footer">
                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank" class="img_link">
                        <img src="{% static 'img/location.svg' %}" alt="location" class="location_icon icon">
                    </a>

                    <a href="https://yandex.ru/maps/11029/rostov-oblast/house/observatornaya_ulitsa_38/Z0AYcQVoTUAFQFptfX9xeXVqYQ==/?ll=39.728451%2C47.308995&z=17" target="_blank">г.Ростов-на-Дону <br> ул.Обсерваторная 38</a>
                </div>

                <div class="phonenumber_footer">
                    <a href="tel:+79289996699" class="img_link">
                        <img src="{% static 'img/phone.svg' %}" alt="phone" class="phone_icon icon">
                    </a>

                    <a href="tel:+79289996699">8 928 999-66-99</a>
                </div>

                <div>
                    <a href="mailto:contact@gmail.com" class="img_link">
                        <img src="{% static 'img/mail.svg' %}" alt="mail" class="mail icon">
                    </a>

                    <a href="mailto:contact@gmail.com">contact@gmail.com</a>
                </div>
            </menu>

            <menu>
                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                <li><a href="{% url 'howtoorder' %}">Как оформить заказ?</a></li>
                <li><a href="{% url 'faq' %}">Вопросы и ответы</a></li>
                <li><a href="{% url 'documents' %}">Документы</a></li>
                <li><a href="{% url 'privacypolicy' %}">Политика обработки <br> персональных данных</a></li>
            </menu>

            <menu>
                <li><a href="{% url 'about' %}">О компании</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                <li><a href="{% url 'quality' %}">О качестве</a></li>
                <li><a href="{% url 'keeping' %}">О хранении</a></li>
                <li><a href="{% url 'transport' %}">О перевозках</a></li>
                <li><a href="{% url 'partners' %}">О партнерстве</a></li>
            </menu>
        </div>
    </footer>

    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>